.card {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 12px;
  font-size: 14px;

  .card-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  .list-group-item {
    font-weight: 500;
  }
}
