<div class="card shadow-sm p-3 mb-4 bg-white rounded">
    <h5 class="card-title mb-3">User Information</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Name:</strong> {{ user?.name }}</li>
        <li class="list-group-item"><strong>Username:</strong> {{ user?.preferred_username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ user?.email }}</li>
        <li class="list-group-item"><strong>Email Verified:</strong> {{ user?.email_verified ? 'Yes' : 'No' }}</li>
        <li class="list-group-item"><strong>Given Name:</strong> {{ user?.given_name }}</li>
        <li class="list-group-item"><strong>Family Name:</strong> {{ user?.family_name }}</li>
        <li class="list-group-item"><strong>User ID:</strong> {{ user?.sub }}</li>
    </ul>
    <button class="btn btn-secondary mt-4" (click)="logout()">Logout</button>
</div>

